.App {
  text-align: center;
}

div.upload-file-button {
  width: 100px;
  height: 40px;
  margin: 0;
  display: inline-block;
  background-color: #00a9ff;
  color: white;
  line-height: 40px;
  margin: 20px;
}

div.upload-file-button:hover {
  cursor: pointer;
  background-color: #ff3399;
  color: white;
}

.pushed {
  margin-left: 300px;
}

div.upload-file {
  margin: 0;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
